.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    background-color: #ffffff;
    padding: 6px 0px 6px 0px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control-small {
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    width: 0px;
    height:30px;
	background:white url(../images/search.png) no-repeat;
	background-position: 10px;
	background-size: 30px 30px;
	padding-left:50px;
	border:2px solid #bbbbbb;
	border-radius:30px;
	margin:auto;
    font-family:infoFont;
    font-size:18px;	
}

.form-control-small:hover{
	width: 180px;
}

.form-control-small:focus{
	width: 180px;
	border-color:#767676;
}

.form-control:-webkit-autofill {
    background-color: #fff !important;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #6B949F;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    width: 180px;
    padding: 4px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -2px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
    font-family:infoFont;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    color: #000000;
    
    height:39px;
    line-height:39px;
    margin-bottom: 0px;
    font-family:infoFont;
    font-size:16px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    float: left;
    height:35px;
    margin: 1px 5px 1px 5px;
}

.angucomplete-image {
    height: 35px;
    width: 35px;
    border-radius: 20%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
